<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
        package="com.android.inputmethod.norwegian"
        android:versionCode="10"
        android:versionName="1.4.2">
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:label="@string/english_ime_name" android:icon="@drawable/icon">

        <service android:name="NorwegianIME"
                android:label="@string/english_ime_name"
                android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/method" />
        </service>
        
        <activity android:name="NorwegianIMESettings" android:label="@string/english_ime_settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        
        <activity android:name="com.android.inputmethod.norwegian.UserDictionarySettings"
                android:label="@string/user_dict_settings_titlebar"
                android:clearTaskOnLaunch="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.android.inputmethod.norwegian.USER_DICTIONARY_SETTINGS" />
                <action android:name="com.android.inputmethod.norwegian.USER_DICTIONARY_INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.VOICE_LAUNCH" />
                <category android:name="com.android.settings.SHORTCUT" />
            </intent-filter>
        </activity>
        
        <provider android:name="com.android.inputmethod.norwegian.UserDictionaryProvider"
                android:authorities="user_dictionary_norwegian"
                android:syncable="false" android:multiprocess="false"
                android:readPermission="android.permission.READ_USER_DICTIONARY" 
                android:writePermission="android.permission.WRITE_USER_DICTIONARY" />
        
    </application>
    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="4"/>
</manifest>
